<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Circles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F96A614F1CA2F5C000ADB453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F96A61681CA2F5C100ADB453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F96A61731CA2F5C100ADB453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
